<div class="main-container">
  <div id="raspi-svg" class="svg-container">
    {{raspi-svg revealTitle='revealTitle'}}
  </div>
  <div class="credits">
    Interaction by <a href="www.jenweber.me">Jen Weber</a> using EmberJS.
    Code blocks created with <a href="https://github.com/ef4/ember-code-snippet">ember-code-snippet</a>.
    <a href="https://commons.wikimedia.org/wiki/File%3ARaspberry_Pi_Vector_Illustration.svg">
      Original SVG
    </a>
      by Jonathan Rutheiser, for use under
    <a href="http://creativecommons.org/licenses/by-sa/3.0">
      Creative Commons BY-SA 3.0
    </a>.
  </div>
  {{outlet}}
</div>
